<div id="miniSidebar">
  <div class="brand-logo">
    <a class="d-none d-md-flex align-items-center gap-2" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/images/brand/logo/logo-icon.svg" alt="" />
      <span class="fw-bold fs-4 site-logo-text">FinStudent</span>
    </a>
  </div>
  <ul class="navbar-nav flex-column">

    <li class="nav-item">
      <div class="nav-heading">Menu Utama</div>
      <hr class="mx-5 nav-line mb-1" />
    </li>
    <!-- Nav item Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/index.html">
        <span class="nav-icon">
          <i class="ti ti-home fs-4"></i>
        </span> 
        <span class="text">Dashboard</span>
      </a>
    </li>

    <!-- Nav item Transaksi -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#navTransactions" aria-expanded="false" aria-controls="navTransactions">
        <span class="nav-icon">
          <i class="ti ti-receipt-2 fs-4"></i>
        </span> 
        <span class="text">Transaksi</span>
      </a>
      <div id="navTransactions" class="collapse" data-bs-parent="#miniSidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/transactions.html">Catat Transaksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@@webRoot/transactions-history.html">Riwayat Transaksi</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Nav item Savings -->
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/savings.html">
        <span class="nav-icon">
          <i class="ti ti-pig-money fs-4"></i>
        </span> 
        <span class="text">Target Menabung</span>
      </a>
    </li>

    <!-- Nav item Setup -->
    <li class="nav-item">
      <a class="nav-link" href="@@webRoot/setup.html">
        <span class="nav-icon">
          <i class="ti ti-settings fs-4"></i>
        </span> 
        <span class="text">Pengaturan</span>
      </a>
    </li>

  </ul>
</div>

<!-- Mobile Offcanvas Sidebar -->
<div class="offcanvasNav offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <a class="d-flex align-items-center gap-2" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/images/brand/logo/logo-icon.svg" alt="" />
      <span class="fw-bold fs-4 site-logo-text">FinStudent</span>
    </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="navbar-nav flex-column">
      
      <li class="nav-item">
        <div class="nav-heading">Menu Utama</div>
        <hr class="mx-5 nav-line mb-1" />
      </li>
      <!-- Nav item Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/index.html">
          <span class="nav-icon">
            <i class="ti ti-home fs-4"></i>
          </span> 
          <span class="text">Dashboard</span>
        </a>
      </li>
  
      <!-- Nav item Transaksi -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#navTransactionsMobile" aria-expanded="false" aria-controls="navTransactionsMobile">
          <span class="nav-icon">
            <i class="ti ti-receipt-2 fs-4"></i>
          </span> 
          <span class="text">Transaksi</span>
        </a>
        <div id="navTransactionsMobile" class="collapse" data-bs-parent=".offcanvas-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="@@webRoot/transactions.html">Catat Transaksi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="@@webRoot/transactions-history.html">Riwayat Transaksi</a>
            </li>
          </ul>
        </div>
      </li>
  
      <!-- Nav item Savings -->
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/savings.html">
          <span class="nav-icon">
            <i class="ti ti-pig-money fs-4"></i>
          </span> 
          <span class="text">Target Menabung</span>
        </a>
      </li>
  
      <!-- Nav item Setup -->
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/setup.html">
          <span class="nav-icon">
            <i class="ti ti-settings fs-4"></i>
          </span> 
          <span class="text">Pengaturan</span>
        </a>
      </li>

    </ul>
  </div>
</div>